<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Set title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<script type="text/javascript">
  let data = {
    user: <%- data.user? JSON.stringify(data.user) : "{}" %>,
    smoothie: <%- data.smoothie? JSON.stringify(data.smoothie) : "{}" %>,
    URL: <%- process.env.PORT? `'https://localhost:${process.env.PORT}'` : 'false'  %>,
  };
</script>
<body>

<!-- MENU HIDDEN VIEW - on mobile -->
<div class="animated" id="menu-view">
  <div class="row add-padding menu-close">
    <span class="icon">
      <i class="fa fa-close"></i>
    </span>
  </div>

  <div class="row to-fullheight to-center add-margin-2y">
    <nav class="column to-center">
      <li class="nav-item add-margin-2y"><a href="/smoothies">HOME</a></li>
      <li class="nav-item add-margin-2y"><a href="/about.html">ABOUT</a></li>
      <li class="nav-item add-margin-2y"><a href="/signup.html">SIGN UP</a></li>
      <li class="nav-item add-margin-2y"><a href="/login.html">LOG IN</a></li>
    </nav>
  </div>
</div>

<!-- MENU - on mobile -->
<div class="row add-padding menu-open" id="menu">
  <span class="icon">
    <i class="fa fa-navicon"></i>
  </span>
</div>

<!-- MENU VISIBLE - on desktop -->
<div class="row" id="menu-desktop-view">
  <nav class="row to-right add-padding">
    <li class="nav-item add-margin-x add-padding"><a href="/smoothies">HOME</a></li>
    <li class="nav-item add-margin-x add-padding"><a href="/about.html">ABOUT</a></li>
    <li class="nav-item add-margin-x add-padding"><a href="/signup.html">SIGN UP</a></li>
    <li class="nav-item add-margin-x add-padding"><a href="/login.html">LOG IN</a></li>
  </nav>
</div>

<div class="container add-margin-3y">
