<% for (let smoothie of data) { %>
  <!-- Smoothie -->
  <div class="column box lose-padding lose-shadow card add-margin-x add-margin-y">
    <div class="row box wrap">
      <span class="title"><%= smoothie.title %></span>
      <span class="to-right caption">@<%= smoothie.name %></span>
      <div class="row subtitle">Subtitle</div>
    </div>
    <figure class="image"><img src="http://www.eatwell101.com/wp-content/uploads/2016/10/apple-banana-smoothie-recipes-.jpg" alt=""></figure>
    <div class="row box text-to-center">
      <div class="row-item">330cal</div>
      <div class="row-item">90g</div>
      <div class="row-item">4mins</div>
    </div>
  </div>
<% } %>
