<!-- Nutrtional Values Component -->
<div class="column add-margin-3y">
  <div class="row to-center">
    <div class="box nutrition">
    <% for (let label in data.smoothie.nutrition) { %>
      <div class="row">
        <span class="add-padding"><%= label %></span>
        <% if (label === 'prep_time') { %>
          <span><%= data.smoothie.nutrition[label] %>mins</span>
        <% } else { %>
          <input id="<%= label %>" type="range" value="<%= data.smoothie.nutrition[label] %>" min="0" max="800" disabled>
        <% } %>
      </div>
    <% } %>
    </div>
  </div>
</div>
