<div class="column to-center add-margin-3y">
  <h3 class="lose-margin">Recipe</h3>
  <p>How to make this smoothie</p>

  <p class="container box add-padding-2"><%= data.smoothie.instructions %></p>
</div>
