<% include ./partials/header %>

<!-- Heading -->
<h1 class="row to-center text-to-center">Build a Smoothie</h1>

<!-- Search icon -->
<div class="row add-margin-2y add-padding to-center">
  <form action="/smoothies/search" method="GET">
    <div class="row add-margin-2y">
      <input name="search" type="text" placeholder="<%= data.text ? data.text : 'Find a smoothie' %>" />
      <button type="submit">
      SEARCH
      <span class="icon">
        <i class="fa fa-search"></i>
      </span>
  </button>
    </div>
  </form>
</div>

<div class="container box add-padding wrap">
  <% include ./components/smoothies %>
</div>

<% include ./partials/footer %>
